<header>
    <h1 class="text-danger">
        Locked Out
    </h1>
    <p class="text-danger">This account has been locked out, too many unsuccessfull login attempts, please try again later.</p>
</header>